.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}
.input-group {
  border: 1px solid #ddd; /* Bordure de la carte */
  border-radius: 10px; /* Coins arrondis de la carte */
  padding: 5px; /* Espacement intérieur de la carte */
  background-color: #fff; /* Couleur de fond de la carte */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre de la carte */
  transition: transform 0.3s ease; 
  max-width: 500px;

}
@media (max-width: 768px) {
  .input-group {
    position: absolute;
    top: 60; /* For mobile devices, set the search card to stay on top */
    z-index: 998; /* Ensure it's below the header */
  }
}

.card-Categories {
  border: 1px solid #ddd; /* Bordure de la carte */
  border-radius: 10px; /* Coins arrondis de la carte */
  padding: 20px; /* Espacement intérieur de la carte */
  background-color: #fff; /* Couleur de fond de la carte */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre de la carte */
  transition: transform 0.3s ease; 
  max-width: 500px;
}

.card-Categories:hover {
  transform: translateY(-5px); /* Décalage vers le haut au survol */
}

.card-footer i, .card-footer a {
  margin-right: 30px; 
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}

h1 {
  color: #030000;
  margin-top: 20px;
  text-align: center;
}

h2 {
  color: #630707;
  text-align: center;
}

h3 {
  color: #8a0e0e;
}

p {
  color: #666;
}

a {
  color: #030000;
}

/* Styles pour le footer */
footer {
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
}
