:root {
  --black: #030000;
  --black-shadow: rgba(0, 0, 0, 0.1);
  --dark-red: #8a0e0e;
  --darker-red: #630707;
  --gray: #666666;
  --lighter-gray: #f0f0f0;
  --white: #ffffff;
  --dark-gray: #d7d7d7;
  --light-gray: #f5f5f5;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--white);
}

header {
  background-color: var(--dark-gray);
  padding: 10px;
  text-align: center;
}

span {
  margin-left: 10px;
}

h1 {
  color: var(--black);
  margin-top: 20px;
  text-align: center;
}

h2 {
  color: var(--darker-red);
  text-align: center;
}

h3 {
  color: var(--dark-red);
}

p {
  color: var(--gray);
}

a {
  color: var(--black);
}

footer {
  bottom: 0;
}

.row {
  margin: 20px 10px 20px 10px;
}

.card {
  background-color: var(--light-gray);
  padding: 0;
}

.card-search {
  background-color: var(--light-gray);
  padding: 20px;
}

.fa-search {
  position: absolute;
  margin-top: 10px;
  right: 70px;
}

.card-categories {
  border: 1px solid var(--dark-gray); /* Bordure de la carte */
  padding: 20px; /* Espacement intérieur de la carte */
  background-color: var(--light-gray); /* Couleur de fond de la carte */
  box-shadow: 0 4px 8px var(--black-shadow); /* Ombre de la carte */
}

.article-info {
  float: left;
  padding-top: 5px;
}

.article-info i {
  margin-right: 90px;
}

.btn {
  float: right;
}

@media (max-width: 768px) {       
  .right-col {
    order: -1;
    padding: 0;
  }
  .row {
    margin-top: 0;
  }
  .card-search {
    width: 100%;
    margin: 0;
  }
  .article-info i {
    margin-right: 20px;
  }
  .btn {
    margin: 20px 0 10px 0;
  }
}